body {
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('data/img/descarga\ \(3\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #000000;
    color: #CBB279;
    padding: 10px;
    display: flex;
    position: sticky;
    top: 0px;
    font-size: 16px;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    margin: 10px;
}

header h1 {
    display: flex; 
    align-items: center; 
}


h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 90px 10px 10px 10px;
}

h3 {
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: normal;
    margin: 50px;
}

.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    color: white;
    font-weight: normal;
    font-size: 25px;
}

.filtros select {
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.empty-state{
    background-color: #000000;
    color: white;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    padding: 24px;
    margin-left: 112px;
    margin-right: 112px;
}

.conten-estadisticas {
    font-size: 28px; 
    color: #ffffff; 
    line-height: 1.5; 
    text-align: center; 
}

#root {
    overflow: hidden; /* Clear float */
}

.item {
    width: calc(33.33% - 2rem); /* Establece el ancho de cada elemento */
    max-width: 260px;
    height: 500px;
    background: #000000;
    box-shadow: 5px 5px 25px #f6da97;
    border-radius: 24px;
    transition: .5s ease-in;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem; /* Ajusta el margen derecho para separar m치s los elementos */
    margin-bottom: 1.5rem; /* Ajusta el margen inferior para separar m치s los elementos */
    float: left; /* Hace que los elementos floten a la izquierda */
    text-align: center;
    color: #fff;
}

.item h3 {
    font-size: 24px; 
    margin: 12px;
}

.item p {
    color: #fff;
    font-size: 16px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.item img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    border:5px rgba(0, 0, 0, 0.3) solid;
    display: flex;
    flex-wrap: wrap;
}

.item:hover {
    transform: scale(1.1);
}

button {
    background-color: #D1991A;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 15px;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
}

.texto-centrado {
    font-weight: normal;
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.texto-centrado-peliculas {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 50px;
    padding-left: 50px;
}

.peliculas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.peliculas img {
    width: 360px;
    height: 600px;
    margin: 20px;
    border-radius: 15px;
}

footer {
    background-color: #000000;
    color: #CBB279;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: left;
    font-size: 16px;
}

.logo-footer img{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Media queries para hacer la interfaz responsive */
@media (max-width: 768px) {
    /* Estilos para pantallas m치s peque침as */
    .logo {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    header h1 {
        font-size: 12px;
    }

    h2 {
        font-size: 30px;
        margin: 20px;
    }

    h3 {
        font-size: 20px;
        margin: 20px;
    }

    .filtros {
        font-size: 18px;
    }

    .filtros select, .filtros button{
        font-size: 16px;
    }

    .empty-state{
        font-size: 16px;
        padding: 16px;
    }
    .item {
        width: calc(100% - 2rem);
        max-width: 160px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 16px;
    }

    .item p {
        font-size: 16px;
    }

    .item img {
        width: 150px;
        height: 150px;
    }

    button{
        font-size: 16px;
    }

    .boton-mostrar{
        font-size: 16px;
    }

    .texto-centrado{
        font-size: 20px;
    }

    .texto-centrado-peliculas{
        font-size: 20px;
    }

    .peliculas img {
        width: 200px;
        height: 300px;
        margin: 10px;
    }

    footer {
        padding: 10px;
        font-size: 12px;
    }

    .logo-footer img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    
    
}

.personaje-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    color: white;
}

.detail {
    margin-bottom: 10px;
}

.detail-label {
    font-weight: bold;
    color: white;
}

.detail-value {
    color: yellow;
}

.detail-description {
    color: yellow;
}